.content {
    margin: 1em 0 0 1em;
}

.content section {
    margin: 0 1em 1em 0;
}

.content section table {
    margin-bottom: 1em;
}

footer {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}

button {
    width: 80%;
    margin-bottom: 1em;
}
.centered {
    text-align: center;
}

.button-error {
    background: #FC70C2; /* this is a red */
}

form.centered {
    margin-bottom: 1em;
}